assignments/assignment1/input
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
assignments/assignment1/.nfs0000000000001d5a0000009c
assignments/assignment1/.nfs00000000000024dc00000062
assignments/assignment1/input
assignments/assignment1/ouput
assignments/assignment1/output
assignments/assignment1/output1
assignments/assignment1/output2
assignments/assignment1/output5
assignments/assignment1/Shell379
assignments/assignment1/input
assignments/assignment1/Shell379
assignments/assignment1/Shell379.o
assignments/assignment1/sleeper
assignments/assignment2/prodcon
assignments/assignment2/prodcon.1.log
assignments/assignment2/prodcon.o
assignments/assignment2/test
assignments/assignment2/writer.o
inClassExs/ch02.processes/fork
inClassExs/ch02.processes/simpleexec
inClassExs/ch02.processes/threads
inClassExs/ch02.processes/threadssm
inClassExs/ch02.processes/wait
inClassExs/ch03.communication/pipe
inClassExs/ch03.communication/setjmp
inClassExs/ch03.communication/signal
inClassExs/ch04.synchronization/mutex1
inClassExs/ch04.synchronization/mutex2
inClassExs/ch04.synchronization/sema
